@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    color: #001f3f;
    background-color: #F8F9FA;
}

.navbar {
    color: #001f3f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------------------------------- Header */

/* ----------------------------------------------------- Logo */

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo span {
    color:#001f3f;
}

.logo span:hover {
    color: #0074D9;
}

/* ----------------------------------------------------- Navbar */

.navbar {
    background-color: #F8F9FA;
}

.navbar-nav .nav-item .nav-link {
    color: #001f3f; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0074D9;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: none;
}

