@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    color: #001f3f;
    background-color: #F8F9FA;
}

.navbar {
    color: #001f3f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------------------------------- Header */

/* ----------------------------------------------------- Logo */

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo span {
    color: #001f3f;
}

.logo span:hover {
    color: #0074D9;
}

/* ----------------------------------------------------- Navbar */

.navbar {
    background-color: #F8F9FA;
}

.navbar-nav .nav-item .nav-link {
    color: #001f3f;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0074D9;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: none;
}

/* ----------------------------------------------------- Hero */

.hero {
    background-image: url("../images/sunsetwater.avif");
    background-size: cover;
    background-position: center;
    opacity: 1;
    color: #F8F9FA;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    min-height: 40vh;
    margin-top: 10%;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.25rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #F8F9FA;
    max-width: 80%;
}




/* ----------------------------------------------------- Footer */

footer {
    text-align: center;
}